* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
}

html, body {
  background-color: black;
  margin-left: 0px;
  height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff3a;
}

.nav-top {
  width: 100%;
  display: flex;
  align-items: center;
}

.logo-adsflix {
  width: 250px;
  cursor: pointer;
  position: relative;
  left: -20px;
}

.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  position: relative;
}

.nav-left {
  flex: 1;
}

.nav-center {
  flex: 1;
  text-align: center;
  position: relative;
}

.nav-right {
  flex: 1;
  display: flex;
  gap: 10px; /* espaço entre as divs */
  text-align: right;
  justify-content: flex-end; /* mantém no canto direito */
  align-items: center; /* alinha verticalmente */
}

.cad-flex {
  border: 1px solid red;
  padding: 5px 8px 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.cad-flex:hover {
  background-color: red;
  border-color: rgba(255, 255, 255, 0.425);
  scale: 1.04;
}

.search-input {
  width: 45%;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.171);
  margin: 0;
  outline: none;
  padding-left: 10px;
  color: rgb(255, 255, 255);
  border: 1px solid rgba(255, 0, 0, 0.349);
  border-radius: 5px;
}

.search-input::placeholder {
  color: rgb(255, 255, 255);
}

.seach-icon {
  background-color: transparent;
  width: 35px;
  height: 25px;
  margin-left: -40px;
  border: none;
  border-left: 1px solid #fff;
  cursor: pointer;
}

.seach-icon i {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.seach-icon i:hover {
  color: red;
  transition: 0.3s;
}

.nav-select-op {
  display: flex;
  width: 100%;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  align-items: center;
}

.nav-select-op ul {
  display: flex;
  flex: 1;
  gap: 30px;
  list-style: none;
}

.nav-select-op ul li a {
  text-decoration: none;
}

.div-assine {
  border: 1px solid #fff;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  background-color: red;
  cursor: pointer;
  transition: 0.3s;
}

.div-assine a {
  text-decoration: none;
}

.div-assine:hover {
  scale: 1.04;
}

.nav-active {
  display: inline-block;
  border-bottom: 2px solid rgba(255, 0, 0, 0.767);
  padding-bottom: 2px;
}

.nav-active a {
  color: rgb(236, 159, 159);
}

.trailer-sec {
  position: relative;
}

.conclave_img {
  width: 100%;
}

.infs-filme {
  z-index: 1;
  position: absolute;
  top: 25%;
  left: 30px;
  width: 45%;
}

.infs-filme div h1 {
  font-size: 80px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 10px;
  margin-bottom: 40px;
}

.infs-filme div p {
  font-size: 25px;
}

.adsflix-trailer img{
  width: 220px;
  margin-left: -15px;
  margin-bottom: 10px;
}

.opcoes-trailer {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.play-trailer {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background-color: rgb(0, 119, 255);
  font-size: 20px;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}

.play-trailer i{
  font-size: 35px;
  margin-right: 3px;
}

.play-trailer:hover {
  scale: 1.02;
}

.top-trailer {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-trailer h1 {
  font-size: 30px;
}

.top-trailer img {
  width: 200px;
  margin-left: -15px;
}

.div_fav {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  gap: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgba(51, 255, 0, 0.767);
  cursor: pointer;
  transition: 0.4s;
}

.div_fav p {
  font-size: 20px
}

.div_fav:hover {
  scale: 1.02;
}

#favorito {
  cursor: pointer;
  font-size: 30px;
  transition: 0.2s ease-in;
}

#favorito:hover {
  scale: 1.03;
}
